.VoteDetailContainer {
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 90vw;
  margin-inline: 3vw;
  padding: 2vw;
  margin-Top: 20px;
}


#ViewDetails_Text {
  padding: 2vw;
  width: 96vw;
  text-align: center;
  font-size: 20px;
  font-weight: 550;
}

//투표 디테일
#VoteDetail_title{
  font-size: 18px;
  font-weight: 550;
}
#voteContent{
  margin-block: 3px;
  margin-left: 0.25vw;
}

#viewVoter{
  width: 7px;
  height: 7px;
  border-top: 1.5px solid #030303;
  border-right: 1.5px solid #030303;
  transform:rotate(45deg);
  margin-top: 5.1px;
  margin-left: 5px;
  cursor: pointer;
  transition : background-color 0.3s ease;
}
#viewVoter:hover{
  border-top: 1.9px solid #797979;
  border-right: 1.9px solid #797979;
}

.checkbox  {
  width: 1.2rem;
  height: 1.2rem;
  appearance: none;//모양해제
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 300ms;
  cursor: pointer;

  
  &::before {
    content: '';
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #ccd3d8;
  }

  &:checked {
    background-color: #007bff;
  }

  &:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg   xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
  }
}
.checked_div{
  width: 1.2rem;
  height: 1.2rem;
  background-image: url("data:image/svg+xml,%3Csvg   xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23007bff'/%3E%3C/svg%3E");
  fill: #007bff;
}

.unChecked_div{
  width: 1.2rem;
  height: 1.2rem;
}


.checkbox label {
  cursor: pointer;
  padding-left: 0.5rem;
}