.VoteDetailContainer {
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 88vw;
  margin-left: 1vw;
  margin-Top: 20px;
  padding: 4vw;
}


#ViewDetails_Text {
  margin: 2vw;
  width: 100vw;
  text-align: center;
  font-size: 20px;
  font-weight: 550;
}