//공지모달
#makeNotice_container{
    width: 214px;
    margin: 20px;
    padding:5px;
    border-radius: 5px;
    align-content: center;
    background-color: rgb(236, 236, 236);
}

//투표모달
.makeVote_container{
    width: 214px;
    margin: 20px;
    padding:5px;
    border-radius: 5px;
    align-content: center;
    background-color: rgb(236, 236, 236);
}
 /* 목록의 기본 스타일(점)을 없앰. */
ul {
    list-style: none;
}

.voteItem{
    width: 205px;
}