body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#SignUp_Parent_Box {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  font: size 15px;
  border: 1.8px solid;
  text-align: center;
  width: 50px;
  margin-left: 10px;
  border-radius: 3px;
  cursor: pointer;
}


/*인증번호 발급버튼*/
#btn_eamilValidation {
  @extend .btn;
  width: 180px;
}

/*이메일코드 확인버튼*/
#btn_emailCodeValidation {
  @extend .btn;
  position: absolute;;
  margin-left: 420px;
  margin-top: -35px;
}

#btn_cancleValid {
  @extend .btn;
  font-size: 12px;
  width: 20px;
  height: 20px;
  margin-left: 220px;
  background-color: white;
}


/*이메일 인증박스*/
#emailValidation_Box {
  position: absolute;
  padding: 10px;
  border-radius: 8px;
  margin-top: 25vh;
  background-color: white;
  z-index: 0;
}


